
*{
  background-color:#a4c7e0;
}

li{
     
	color:red;
}
h1{
	text-align:center;
	font-weight:bold;
	font-family:Goudy Stout;
	color:white;
	text-decoration:underline;
	background-color:violet;

}
